html {
    scroll-snap-type: y mandatory;
  }
  
  .sapp {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    place-items: center;
  }
  
  .sapp__videos {
    position: relative;
    height: 90vh;
    width: 100%;
    max-width: 450px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .sapp__videos::-webkit-scrollbar {
    display: none;
  }
  /* for IE Safari*/
  .sapp__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }