@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200&family=Merriweather&display=swap');

.background-image-conatiner {
    overflow: hidden;

    button {
        position: absolute;
        top: 55%;
        left: 30%;

        width: 150px;
        // height: 50px;
        border: none;
        border-radius: 10px;
        background: #416A9B;
        color: #fff;
        font-weight: 600;
        margin: 10px 0;
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;

        :hover {
            background: #c03cc0;
        }
    }

    p {
        position: absolute;
        top: 30%;
        left: 30%;
        font-family: "Merriweather", serif;
        font-size: 1.2rem;
    }

    .ele {
        position: absolute;
        top: 20%;
        left: 60%;
        width: 300px;
    }
}

.background-image {
    background: url(../../assets/road.jpeg) repeat-x;
    background-size: contain;
    height: calc(100vh - 110px);
    width: 146760px;
    animation: slide 2s linear;
    opacity: .2;
}

@keyframes slide {
    0% {
        transform: translate(0px);
        opacity: 1;
    }

    25% {
        transform: translate(-30px);
        opacity: 0.8;
    }

    50% {
        transform: translate(-60px);
        opacity: 0.6;
    }

    75% {
        transform: translate(-90px);
        opacity: 0.4;
    }

    100% {
        transform: translate(-110px);
        opacity: 0.2;
    }
}

.walking-man {
    height: 100%;
    max-height: 225px;
    position: absolute;
    bottom: 0;
    left: 10%;
    animation: moveObject 2s forwards;

    @media screen and (max-width: 640px) {
        max-height: 175px
    }
}

@keyframes moveObject {
    to {
        //   top: 150px; /* Final position */
        left: 20%;
        /* Final position */
        display: none;
    }
}