
.HAbout-container #heading {
    text-align: center;
    padding: 40px 0;
    color: rgb(172, 0, 172);
}

.HAbout-container #heading h1 {
    font-size: 45px;
    margin: 5rem 0;
    text-transform: capitalize;
}
